CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
dist/
_skbuild/
*.egg-info/
__pycache__/

chvi/chvi
chvi/CMakeCache.txt
chvi/CMakeFiles/
chvi/CMakeTmp
chvi/cmake_install.cmake
chvi/Makefile
chvi/memory
chvi/trace.*
